<!-- use formgroup and formcontroller to submit the form -->

<div   id="addPage">
<form [formGroup]="contactForm" (ngSubmit)= "saveContactInfo()">  
    First Name:   <input type="text" id="first" class="formFields" required formControlName="first" /><br/>
    <label *ngIf="!contactForm.controls.first.valid">first name is required</label>   <br/><br/>
    Last Name:    <input type="text" id="last" class="formFields" required formControlName="last"/><br/>
    <label *ngIf="!contactForm.controls.last.valid">last name is required</label> <br/><br/>
    Email:        <input type="text" id="email" class="formFields" required formControlName="email"/> <br/>
    <label *ngIf="!contactForm.controls.email.valid">email is required</label><br/><br/>
    Phone Number: <input type="text" id="phone" class="formFields" required formControlName="phone"/> <br/>
    <label *ngIf="!contactForm.controls.phone.valid">phone is required</label><br/><br/>
    <button type="submit" [disabled]="contactForm.invalid">Create</button>
</form>



</div>