 /*inheritance*/

 %font{
    font: {family: Arial, Helvetica, sans-serif;
    size:1.5mm;
}
 }
 
 
 /* nesting */

 nav{
    a{
        display:inline-block;padding:6px 12px;color:#000;
    }  
    a:hover{
        background-color:$hover-color;;
    }
  }
  .secondtitle{
    
    border: {
        right:1px solid $border-color;
        bottom:1px solid $border-color;
    }
    position: absolute;left:10px;top:10px;
    width:350px;height:60px;
    display:inline-block;
  }
  .background-black{
      background-color:#000;
      color:#fff;
      position:absolute;
      left:100px;
      top:10px;
      @extend %font;
  }
  .background-red{
    background-color:rgb(255,0,0);
    color:#fff;
    position:absolute;
    left:150px;
    top:10px;
    @extend %font;
}
.news{
    color:#000;
    @extend %font;
    position:absolute;
    left:100px;
    top:23px;
    font-size:9mm;
}
.protal{
    color:rgb(255,0,0);
    @extend %font;
    position:absolute;
    left:195px;
    top:23px;
    font-size:9mm;
}
  .subnav{
    position: absolute;left:810px;top:10px;
    width:350px;
    color:$brand-color;
    
    @extend %font;
  }
  .red{
 color:$red-color;
  }
  .pink{
      color:$pink-color;
  }

  .nav{
    border: {
        right:1px solid $border-color;
        bottom:1px solid $border-color;
        top:1px solid $border-color;
    }
    position: absolute;left:350px;top:28px;
    width:550px;
    display:inline-block;
    
  }

  .search{
    border: {
        bottom:1px solid $border-color;
        top:1px solid $border-color;
    }

    position: absolute;left:900px;top:28px;
    width:200px;height:32px;
    text-align: center;

    display:inline-block;
    background: {
        image:url("images/search.png");
        repeat:no-repeat;
        position:100px,25px;


    }
  }
