$brand-color: #1D4EEE;
$red-color:rgb(194, 69, 69);
$pink-color:rgb(202, 40, 175);
$green-color:rgb(70, 214, 70);
$border-color: rgb(193, 193, 196);
$hover-color:rgb(217, 231, 20);$brand-color: #1D4EEE;
$title-color:rgb(78, 76, 76);